<!DOCTYPE html>  
    <HTML>
        <head>
            <title> This is test hbs page </title>
            {{!-- <link rel="stylesheet" href="css/style.css"> --}}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        </head>
        <body>
<h2 style="color:blueviolet"></br>Enter the name of the city that you need to know the news there !</h2>
    <form id="myform">
                {{!-- <input type="text" id="address"> --}}
        <input type="text" class="form-control" id="country" style="width:25%">
        </br>
        <button class="btn btn-primary" type="submit">Get the news</button>
    </form>
            <p id="error" >heyyyyy</p>
            <p id="title" ></p>
            <p id="img"></p>
            <p id="description" ></p>
            

           

            <script src="js/app.js"></script>
        </body>




    </HTML>